body {
    background-color: #a8a7a7;
}

#haut {
    display: flex;
    height: 40vh;
    padding: 2px;
}

#listeScene {
    flex: 1 1;
    background-image: url(image/maxresdefault.jpg);
    background-repeat: round;
    background-size: cover;
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 1vh;
}

#listeBouton {
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    overflow-x: hidden;
    justify-content: space-between;
    padding: 1vh;
    width: 60vh;
    height: 25vh;
}

#btnEffacer { 
    margin-right: 1vh;
    margin-left: 1vh;
    background-color: #a8a7a7;
    font-weight: 500;
    border-color: #a8a7a7;

}

#creationSequence {
    flex: 1 1;
    background-image: url(image/maxresdefault.jpg);
    background-repeat: round;
    background-size: cover;
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 1vh;
}

.btn {
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
}

#titreSequence {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 60vh;
    height: 5vh;
    padding: 1vh;
}

#listeAction {
    margin: 1vh;
    width: 100%;
}

#zoneSequence {
    display: flex;
    padding-top: 1vh;
}

#boutonSequence {
    display: inline-grid;
    width: 15%;
    text-align: center;
}

#connexion {
    flex: 1 1;
    background-image: url(image/maxresdefault.jpg);
    background-repeat: round;
    background-size: cover;
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#listeConnexion {
    margin-left: 1vh;
}

#bas {
    display: flex;
    flex-direction: row;
    height: 60vh;
    padding: 2px;
}

.reglage {
    text-align: center;
    background-color: #a8a7a7;
}

.imageReglage {
    width: 5vh;
    height: 5vh;
}

.imageReglage img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 2.5vh;
}

.sliderConteneur {
    width: 10vh;
    height: 40vh;
    background-image: url(image/Potar.svg);
    background-repeat: round;
    background-size: cover;
}

.slider {
    margin-top: 19vh;
    margin-left: -14vh;
    -webkit-appearance: none;
    width: 38vh;
    height: 2vh;
    background: #d3d3d3;
    outline: none;
    transform-origin: center;
    transform: rotate(-90deg);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 6vh;
    height: 2vh;
    border: 0;
    background: url(image/boutonPotar.png);
    background-size: cover;
    transform-origin: center;
    transform: rotate(-90deg);
    cursor: pointer;
  }